include /mixins/meta

doctype html

html
  head
    block meta
      +meta()

    block stylesheets
      link(rel='stylesheet', href=assetPath('/assets/main.css'))
  body
    block header
      include /partials/header.pug

    main
      block content

    block footer
      include /partials/footer.pug

    block javascripts
      script(src=assetPath('/assets/main.js'))
