include /mixins/meta

doctype html

html
  head
    block meta
      +meta()

    block stylesheets
      link(rel='stylesheet', href=assetPath('/assets/main.css'))
      link(rel="icon", href="/favicon.png" )
  body.ids
    main
      block content

    block javascripts
      script(src=assetPath('/assets/main.js'))
