.tmp-with-sidebar {
  margin-left: 23%;
}

.tmp-left-sidebar {
  position: absolute;
  right: calc(100% + 1em);
  text-align: right;
  width: fit-content;
  max-width: 23%;
}

.tmp-section-title {
  letter-spacing: 0.2em;
  color: RGB(var(--ids__link-RGB));
}

.tmp-colorized-space {
  background-color: rgba(var(--ids__link-RGB), 0.3);

  &.surface {
    background-color: rgba(var(--ids__surface-RGB), 1);
  }
}

.tmp-color-sample {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  border-radius: 0.3em;
  margin-right: 0.4em;

  &.with-stroke {
    border: 1px solid RGB(var(--ids__surface-RGB));
  }
}

.tmp-sidebar-menu {
  position: fixed;
  left: 1em;
}

.tmp-header {
  display: flex;
  align-items: flex-start;

  > * {
    margin-right: 1em;
  }

  .logo {
    display: flex;

    .img-wrapper {
      height: 1.5em;
      width: auto;

      img {
        height: 100%;
        width: auto;
        padding-right: 0.5em;
      }
    }
  }
}
