extends /layouts/main.pug

block meta
  +meta(title="Layer 0", description="Шаблон сайта проектов Интуиции", og-image="/images/IMG_0202.jpg")

block content
  .ids__wrapper
    .ids__text
      section
        h2 Новый сайт! 

        p Layer 0 — это шаблон проекта Интуиции. В него встроены всякие штуки и <a href="/design-system">дизайн-система IDS</a>.
        
        p Это главная страница — можно удалить текст и делать своё. Когда-нибудь вытащим сюда примеры вёрстки всяких штук, но точно не сегодня. 
