extends layouts/main.pug

block content
  p Мы такие специальные ребята для простого и разумного дизайна. Нестандартная реклама и креативный диджитал — это не к нам. Мы делаем внятно и убедительно.

  p У нас мало клиентов, они классные, а новый появляется примерно раз в год. Это профессионалы, которые хорошо знают свой бизнес и которым не всё равно. Ради таких мы расшибаемся в лепёшку: подолгу развиваем проекты, проверяем идеи, исправляем ошибки, проявляем инициативу. А ради каких-то других и пальцем не пошевелим.

  p Есть один главный принцип: в любой ситуации мы создаём информационную систему. Вы говорите «фирменный стиль», мы слышим «информационная система», вы говорите «сайт», «печатный каталог», «картиночки для соцсетей», «презентации для инвесторов», мы слышим «информационная система». Вы говорите «информационная система», мы слышим «информационная система».

  p Чаще всего мы в Ростове-на-Дону. Но кто где прямо сейчас, неизвестно. Офиса нет. Рабочего графика нет. Сотрудников в штате нет. Есть круг единомышленников и проверенных в деле профессионалов. Собираем проектную группу для каждой задачи. Работаем в коворкингах, в кафе, дома, где придётся. Но регулярно встречаемся, так интереснее.

  .bubbles
