extends /layouts/main.pug

block meta
  +meta(title="", description="Редакторы, дизайнеры и разработчики, которые делают обыкновенные продукты необыкновенно хорошо", og-image="/images/IMG_0202.jpg")

block content

  .ids__wrapper.ids__full-width
    .ids__text
      section
        h1 Что такое

        p Мы такие специальные ребята для простого и разумного дизайна. Нестандартная реклама и креативный диджитал — это не к нам. Мы делаем внятно и убедительно.

        p У нас мало клиентов, они классные, а новый появляется примерно раз в год. Это профессионалы, которые хорошо знают свой бизнес и которым не всё равно. Ради таких мы расшибаемся в лепёшку: подолгу развиваем проекты, проверяем идеи, исправляем ошибки, проявляем инициативу. А ради каких-то других и пальцем не пошевелим.

        p Есть один главный принцип: в любой ситуации мы создаём информационную систему. Вы говорите «фирменный стиль», мы слышим «информационная система», вы говорите «сайт», «печатный каталог», «картиночки для соцсетей», «презентации для инвесторов», мы слышим «информационная система». Вы говорите «информационная система», мы слышим «информационная система».
      section
        h2 Мои поздравления

        p Чаще всего мы в Ростове-на-Дону. Но кто где прямо сейчас, неизвестно. Офиса нет. Рабочего графика нет. Сотрудников в штате нет. Есть круг единомышленников и проверенных в деле профессионалов. Собираем проектную группу для каждой задачи. Работаем в коворкингах, в кафе, дома, где придётся. Но регулярно встречаемся, так интереснее.
      section
        aside

          h3 Кто здесь

          p Я Женя Арутюнов, арт-директор <a href="/">Интуиции</a>. <nobr>Кто-то</nobr> знает меня по проектам (мы сделали <a href="/dodo-brandbook">брендбук Додо Пиццы</a>, журнал <a href="delo-website">Дело Модульбанка</a> и <a href="/?filter=arutyunov">много всего</a>), кто-то читал <a href="/arutyunov">мой блог</a>, <a href="https://t.me/likelikelikelikelike">канал «И тут он говорит»</a>,  видел <a href="/we-want-to-play">лекцию в Студии Лебедева</a> или <a href="/doping">в БДСЛ</a>. А кто-то меня не знает ¯\_(ツ)_/¯

          button(type="submit" value="") Ну и зашибись

      section
        p Я пишу книгу.

        p Эта книга — для опытных дизайнеров и других творческих ребят. В ней нет основ композиции, типографики и цвета, нет упражнений. Она о культуре мышления, коммуникации и лидерства.

        p Это человекоцентричная книга. Любая проблема в первую очередь рассматривается с позиции индивидуума: <mark>«чего я хочу,</mark> <mark>что мне выгодно,</mark> <mark>что я считаю важным»</mark>. Надеваем маску себе, ребёнку, а потом уже всем, кому надо было срочно.


