extends /layouts/main.pug

block meta
  +meta(title="Layer 0", description="Шаблон сайта проектов Интуиции", og-image="/images/IMG_0202.jpg")

block content
  .ids__wrapper
    .ids__text
      section
        h1 Layer 0

        p Layer 0 — это пустой шаблон проекта с самым традиционным стеком: Node.js, Pug, SCSS, десятком любимых плагинов и встроенной дизайн-системой IDS.

      section
        h2 О шаблоне

        p Тут нужно что-то написать, но я не знаю, что.
      
      section
        h2 Дизайн система IDS
        a(href="/design-system") Смотреть
      
