html,
body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
}

body {
  padding: 16px 20px;
}

main {
  position: relative;
}

.tmp-with-sidebar {
  margin-left: 23%;
}

.tmp-left-sidebar {
  position: absolute;
  right: calc(100% + 1em);
  text-align: right;
  width: fit-content;
  max-width: 23%;
}

.tmp-section-title {
  letter-spacing: 0.2em;
  color: RGB(var(--ids__link-RGB));
}

.tmp-colorized-space {
  background-color: rgba(var(--ids__link-RGB), 0.3);

  &.surface {
    background-color: rgba(var(--ids__surface-RGB), 1);
  }
}

.tmp-color-sample {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  border-radius: 0.3em;
  margin-right: 0.4em;

  &.with-stroke {
    border: 1px solid RGB(var(--ids__surface-RGB));
  }
}
