html,
body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
}

body {
  padding: 16px 20px;
}

main {
  position: relative;
}

.tmp-with-sidebar {
  margin-left: 23%;
}

.tmp-left-sidebar {
  position: absolute;
  right: calc(100% + 1em);
  text-align: right;
  width: fit-content;
  max-width: 23%;
}

.tmp-section-title {
  letter-spacing: 0.2em;
  color: RGB(var(--ids__link-RGB));
}
