$fonts-path: '/fonts';
$images-path: '/images';

$footer-word-colors: Coral, Tomato, DeepPink, Crimson, DarkOrchid,
  MediumSlateBlue, RoyalBlue, LightSeaGreen, DarkTurquoise, Turquoise, LimeGreen,
  YellowGreen, DarkKhaki, DarkGoldenRod, Sienna, Gray, DarkSlateGray;
